@model IEnumerable<GamesCrud.Models.Game>

@{
    ViewData["Title"] = "Index";
}



<h1 class="title-page">Index</h1>

<p style="margin:20px">
    <div class="btn-default">
        <a  asp-action="Create">Create New</a>
    </div>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idiomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaixaEtaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoEmbalagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenciaModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idiomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaixaEtaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoEmbalagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenciaModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
